body {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #eeeeee;
}

.App {

    margin: auto;
    margin-top: 20px;
    width: 500px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding-bottom: 20px;

}